body{
    margin: 0px;
    padding: 0px;
    /* background-color: rgba(242, 242, 226, 0.89); */
    /* min-width: 500px;
    max-width: 600px; */
}
#playingTeams .teams{
    margin: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#playingTeams .teams .team1,#playingTeams .teams .team2{
    padding: 30px 200px;
} 
img{
    width: 25vb;
}
.versus{
    font-size: 50px;
    color: red;
}
#playingTeams .teams figcaption{
    font-size: 25px;
    justify-content: center;
    text-align: center;

}
#match .matchData{
    margin: 40px 60px 10px 60px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    /* border: 2px solid black;  */
}
#match .matchData .timer{
     /* border: 2px solid black;  */
}
#match .matchData .timer .checkTime{
    /* border: 2px solid black; */
    font-size: 30px;
    padding: 20px 50px 20px 80px;
    font-weight: 400;
    font-family: sans-serif;
}
#match .matchData .timer .duration{
    /* border: 2px solid black;  */
    display : flex;
    gap: 15px;
    padding: 0px 50px;
}
#match .matchData .timer .duration #hour{
    /* border: 1px solid black;  */
    font-size: 40px;
    font-family: sans-serif;
    font-weight:600;
    width: 70px;
    height: 70px;
    text-align: center; 
    line-height: 70px;
    background-color: rgb(77, 80, 79);
    border-radius: 8px;
    box-shadow: 5px 5px rgb(199, 204, 202);
}
#match .matchData .timer .duration #minute{
    /* border: 1px solid black; */
    font-size: 40px;
    font-family: sans-serif;
    font-weight:600;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background-color: rgb(77, 80, 79);
    border-radius: 8px;
    box-shadow: 5px 5px rgb(199, 204, 202);
}
#match .matchData .timer .duration #second{
    /* border: 1px solid black; */
    font-size: 40px;
    font-family: sans-serif;
    font-weight:600;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background-color: rgb(77, 80, 79);
    border-radius: 8px;
    box-shadow: 5px 5px rgb(199, 204, 202);
}
#match .matchData .matchRecords{
    /* border: 2px solid black;  */
}
#match .matchData .matchRecords .matchScore{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(236, 64, 138, 0.892);
    border-radius: 50px;
    
}
#match .matchData .matchRecords .matchScore .runWicket{
    /* border: 2px solid black; */
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(47, 45, 45);
    text-align: center;
    padding: 25px 50px;
    color: white;
   
}
#match .matchData .matchRecords .matchScore .overs{
    /* border: 2px solid black; */
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(47, 45, 45);
    text-align: center;
    padding: 25px 50px;
    color: white;
}

#match .matchData .matchRecords .runRate{
    /* border: 2px solid black; */
}
#match .matchData .matchRecords .currentRunRate{
    /* border: 2px solid black; */
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 15px 0px;
    color: rgb(74, 70, 70);
}
#match .matchData .matchRecords .requiredRunRate{
    /* border: 2px solid black; */
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 15px 0px;
    color: rgb(74, 70, 70);
}
#match .matchData .matchRecords .neededRuns{
    /* border: 2px solid black; */
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
    color: rgb(74, 70, 70);
}
#match .matchData .matchRecords .neededRuns spam{
    color: rgb(226, 198, 39);
}
#match .matchData .updateKeys{
    /* border: 2px solid black; */
}
#match .matchData .updateKeys .keyType{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
#match .matchData .updateKeys .keyType button{
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    padding: 50px 0; 
    width: 120px;
    text-align: center;
    background-color: rgb(95, 93, 93);
    color: white;
    /* border: none; */
    
}
#match .matchData .updateKeys .keyType button:hover{
    background-color: aqua;
}
